<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Prototurk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="header">
    <div class="container">

        <a href="{{ url_for('home') }}" class="logo">
            ./prototurk/python
        </a>
        <nav>
            <ul>
                {% for category in categories() %}
                <li>
                    <a href="{{ url_for('category', url=category['category_url']) }}">{{ category['category_name'] }}</a>
                </li>
                {% endfor %}
                <li class="btn">
                    {% if 'user_id' in session %}
                        <a href="{{ url_for('newPost') }}">İçerik Ekle</a>
                        <a href="{{ url_for('logout') }}">Çıkış yap</a>
                    {% else %}
                        <a href="{{ url_for('login') }}">Giriş yap</a>
                    {% endif %}
                </li>
            </ul>
        </nav>

    </div>
</header>

<main class="main container">
    {% block content %}{% endblock %}
</main>

</body>
</html>