{% extends "base.html" %}
{% block title %}Blog{% endblock %}

{% block content %}
<h3>Giriş yap</h3>

<form action="" method="POST" class="form">

    {% if error %}
        <div class="error">
            {{ error }}
        </div>
    {% endif %}

    <ul>
        <li>
            <label for="username">E-posta</label>
            <input type="email" name="email" value="{{ request.form['email'] }}">
        </li>
        <li>
            <label for="password">Şifre</label>
            <input type="password" name="password" value="{{ request.form['password'] }}">
        </li>
        <li>
            <button type="submit">Giriş yap</button>
        </li>
    </ul>
    <span class="or">hesabın yok mu?</span>
    <a href="{{ url_for('register') }}" class="form-url">Hemen kayıt ol!</a>
</form>
{% endblock %}